[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Caitlyn
Exec=/usr/bin/caitlyn -n
Icon=/usr/share/icons/hicolor/80x80/apps/caitlyn_80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
